<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/5721a818e9521a154b6c97df.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>植物系的小蘑菇</string>
		<key>h</key>
		<integer>363</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/271fa5b2-c136-4622-9396-a545352a6ac7@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>#每日搭配# 今天早上各种不顺心啊，因为没有好看的衣服所以不想出门，因为轻信老公的话穿着短白T就出门了，还穿了麂皮的鞋子，出门他给我下雨了！！！冷死我了，鞋子还湿了，内心之崩溃啊，路过zara直接冲进去买了件短外套，结果被人问是不是valentino那件😂😂😂dior 的woc荔枝皮比起我小羊皮的chanel简直耐操100点...RV这双鞋是去年年终折扣囤的，今年才拿出来穿，RV的各个鞋款中这款是最舒服的，完全不磨脚可以穿着逛一整日街不累，就是浅色麂皮简直太不耐操，穿第一天的时候内侧就花了😂😂</string>
		<key>w</key>
		<integer>274</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/56fc888c02f37d043bded30f.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>无数烟花在闪烁</string>
		<key>h</key>
		<integer>400</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/5ced9b2f-add3-415d-aefb-69f934cd5064@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>🌟po一款好用的贝印指甲剪，39元，购于小红书。 🌟这款指甲剪用起来很方便，里面有一个盒子收集剪下来的指甲，使指甲不会乱飞，这个设计不错。外型也简洁大方，携带方便，性价比高。 🌟在小红书福利社看到有人po了一款绿色的，也很貌美，下次看到的话还会再入一个其他颜色的。</string>
		<key>w</key>
		<integer>530</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/57372ab8d8601e0a92e1350d.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>SucyBlack</string>
		<key>h</key>
		<integer>365</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/71fd26cf-a1a9-46e4-8304-d5f35b8f8275@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>79块买到这样一双小白鞋真的很赚[嘿嘿][嘿嘿]迪卡侬真是良心[么么哒][么么哒]这是双青少年网球鞋哦，但是因为是女生脚比较小，所以可以穿得下[挖鼻孔][挖鼻孔]因为平时手上东西太多了，而且要打排球 所以带着手环很不方便，于是我把手环挂脚上了，刚刚正好[哈哈][哈哈]</string>
		<key>w</key>
		<integer>275</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/5706962bd8601e276044e80a.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>Candy</string>
		<key>h</key>
		<integer>530</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/dc32de1c-a3e9-4fa0-8eb1-fe9a996c3f03@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>💕我相信每个人的鞋柜里都有一双小白鞋吧 💕尤其是和男朋友逛街的时候蹬一双小白鞋那就是秀恩爱神器啊😆 找了太多款鞋子都不满意，和男朋友看到这双的时候完全没有犹豫就入手了 🔥这款阿迪魔术贴板鞋我觉得是无比百搭的，是头层皮的材质，根本不怕脏有没有💪比那种布的方便太多了😂又是流行款上脚也特别舒适😊</string>
		<key>w</key>
		<integer>530</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/574e74fad8601e4fd34224d2.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>Alice英国玉和国际
</string>
		<key>h</key>
		<integer>360</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/3e6f605a-4646-4998-ad8b-4ea1967ef0ef@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>西班牙皇室品牌Pronovias伦敦邦德街旗舰店. 可是吧，因为不想等6个月，在去了vera wang之后，就被mayfair vera wang的sales给赶了出来，说加钱也最快3个半月😂😂好在这里说她们有接近成衣的一些新款，可以加急，所以我觉得不是我选婚纱，而是婚纱选我... 昨天下午5点的appointment 试了3套，第三件因为后背是镂空设计，非常低，怕长辈不开心，直接pass了... 然后就在公主裙和鱼尾之间纠结不定. 国内家人也睡觉了，就又约了今天，今天想着反正还要订旗袍，虽然pronovias专业是蕾丝和鱼尾，就不要鱼尾啦... 可是今天下午回去，告诉我，腰间有小蝴蝶结的公主裙没有了，因为全球统一，在巴塞罗那被订了😂😂 再等就要到9月. 俄罗斯大美女sales紧急帮我各种找，又找到一件公主裙䙓的，虽然我有点觉得裙摆不是蕾丝，可是我怕又没有，直接付钱了. 婚纱本身不贵，说不用加急费，1800镑不到，10米头纱470镑，蕾丝披肩530镑，绸缎腰带50镑，还有什么鱼骨70镑，大致就这些了. 比vera wang省下约1000左右，加钻戒上吧[哈哈][哈哈]</string>
		<key>w</key>
		<integer>270</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/56b1f841e9521a43e9434671.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>萱</string>
		<key>h</key>
		<integer>364</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/c808ecf0-b17b-4ee7-b46b-ba74b607e253@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>今年夏天败的第一双凉鞋，本来选了菲拉格慕的一款，可是拿回家后怎么试都不满意。于是果断退货。两个礼拜前逛街无意发现这款，其实首选相中的是裸色，但上脚后很不理想（主要是我皮肤太黑了😭😭😭）这双上脚后，出奇的好，衬托皮肤很好（悄悄告诉像我一样皮肤黑，天生小麦肤色菇凉们，多选择蓝色系的服饰，会显皮肤好哦😁😁） 一字凉鞋，细绑带，全是今年的流行元素（Stuart家的更多选择，但像我一样脚瘦的菇凉们就不要考虑啦）这双会更适合你。搭配牛仔裙，阔腿裤，深色的所有裙子都OK哦。白色还没试过，改天搭配一下试试看😁😁</string>
		<key>w</key>
		<integer>272</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/55eed64ee4b1cf5c675ecb01.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>colamamy</string>
		<key>h</key>
		<integer>400</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/e9a37097-13b0-4a72-9bb0-095aa46aa508@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>👛charles&amp;keith水桶包👛 俗称：小ck 这款牌子得东西性价比真的很好 鞋子每款都美到爆 可惜带着孩子 太高的美美鞋穿不了（属于穿平底鞋也会崴脚的人） 所以果酸入了款包包 我之前背的coach的包太小了 放不了什么 这款水桶包能放宝宝的湿巾 尿布包几片 因为我是母乳妈妈 所以不用那么麻烦带奶瓶什么的 短款钱包 挺实用的 其实它本身的颜色偏粉 链条长短可以调节 性价比很高😘</string>
		<key>w</key>
		<integer>535</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/57144fe802f37d18b86e210f.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>RYUUUU</string>
		<key>h</key>
		<integer>533</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/ada719aa-8fc6-44c3-a010-3f1f7a155e23@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>[酷][酷][酷][酷][酷] ALDO的这双鞋真的是太好搭了 我对金属色系真的是有超级执着的偏爱 之前有双银色尖头真的是被自己穿烂了还不舍得扔 黑白LOOK，就是有种干练的味道 头发扎起来，总觉得自己有种职场精英的感觉 哈哈哈哈哈哈哈 不过这套倒是被周围的男士轮番夸了遍有气质 看来是斩男搭配啊 衣服来自：RNS COLLECTION</string>
		<key>w</key>
		<integer>533</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/558110ebb4c4d65e696f7ce7.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>你困吗我不困</string>
		<key>h</key>
		<integer>687</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/98d5d7f2-5035-4743-b900-b612e749d28b@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>今年最火的绑带鞋怎能不来一双？ 男票有次看到朋友圈小姑娘发了这双鞋，立刻问了牌子~Carvela Kurt Geiger作为英国本土品牌，貌美价优性价比高说的就是它吧，真心觉得比zara今年那双火到冒烟的绑带鞋漂亮~~ 这双鞋购于Kurt Geiger官网，78镑打对折➡️39镑，再打七五折➡️29.25镑… 最后再次夸一下我特别会搜罗打折网站的男票😘厉害啊🐷🐷</string>
		<key>w</key>
		<integer>526</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/56830f1502f37d6a2770c222.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>Margaret_Yeh</string>
		<key>h</key>
		<integer>533</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/80e41c0e-3000-40d0-9ec2-14101e6da490@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>飞亚达石英女表，这款手表是2012年的新款，我不清楚价格，因为这是我男朋友的家人送给我的生日礼物💘，那年正好是我高中毕业。 😇 一直以来没有戴手表的习惯，可能更习惯于看手机吧！但是这块手表我使用率还是挺高的，不仅仅是因为意义非凡💓，也是因为它的款式新颖，秀气，像手链一样，不管穿什么衣服都能搭配，也适合我瘦瘦的身形，因为瘦子戴宽表带不太好看。表圈和表盘有锆石镶嵌，华丽柔美，尽显温婉、知性优雅。进口石英机芯，走时准确。蓝宝石镜面耐磨损、防眩晕，强光下亦能清晰读时，整体风格简洁大气，细节完美，最重要的是它的防水功能强大，洗澡戴都没问题，也没有掉色的情况。 👼 这真的是一款性价比和颜值并存的表，我用了四年也没有撞过款，很感谢我男朋友爸妈独特的眼光，I feel so special！😘
</string>
		<key>w</key>
		<integer>529</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/565811f3b7ba2277a054804c.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>V🎀Zhang👧</string>
		<key>h</key>
		<integer>528</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/d1591200-717f-4a28-bf17-12f68d2af0fa@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>💗LV路易威登唐嫣同款围巾🎀 去年十一月和老公去美国关岛度假，那边是一个免税岛，但对于游客来说还是一定回去一下当地的DFS购物，先说说那里的路易威登，店很大导购也会非常热情，说明你的需求后会拿来很多款式任有客人试，这款围巾在心中早已种草，那时的上海正是冬天，拔草后回到上海妥妥的能带，羊毛成分的围巾很亲肤，不会感觉扎扎的，也不会觉得痒，颜色是唐嫣同款的大红色，选择这款颜色主要有几点，第一我是偏爱亮色系的配饰，红色会显得气色很好，第二冬天的外套大多数是以黑色和暗色系为主，正红色的围巾会有点睛的效果哦！价格当时在美国是375美金，比国内过便宜蛮多的，这款真的很推荐，会让mm们的冬天非常温暖又很可爱哦！</string>
		<key>w</key>
		<integer>531</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/559ebacfb4c4d61a5a0da494.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>Shirly</string>
		<key>h</key>
		<integer>350</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/164bbd7f-a3f5-4b48-b2fa-0b037ee68d38@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>#狮王酵素牙膏# 🍳才半个月没发笔记，就感觉被遗忘了，昨天发的手表都没人看，心痛到删掉。💀💀💀好啦好啦，我就说说，还是会很努力的写笔记的。今天要讲的是狮王的酵素牙膏。 🍳由于小时候懒吧，不好好刷牙吧，长大了牙齿就是黄的= =我也不知道这是什么逻辑，但是不管多么勤奋的洗还是黄的🙄🙄🙄，跟人交流的时候很尴尬，特别我笑的一点都不淑女。于是对口腔产品关注的也比较多。麦迪安86%美白牙膏，皓乐齿，小林制药黑炭竹炭牙膏，安利，舒适达以及各种黑人高露洁佳洁士都用过。但是用了这么多感觉还是安利的白茶好用，舒服也干净。其他的要么洗不干净要么用了有涩涩的不适感。 🍳今天的这款用了有一个多月了，洗的是挺干净的，就是味道有点不喜欢，奇怪的薄荷味，闻了有点想吐（个人感觉）。我的是薄荷感轻一点的，还有一款是重一些的。白色膏体，比一般牙膏软一些。这个牙膏得用干洗法，就是挤了直接往嘴里刷，不用沾水，是这么个意思吧？🗿🗿🗿 🌿希望能帮到你们啦🌿</string>
		<key>w</key>
		<integer>270</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/57032ba5d8601e4a71545ba4.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>meganmen</string>
		<key>h</key>
		<integer>398</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/0e519a4f-6633-4482-b8d9-fb8df2f01599@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>越来越多的喜欢多肉植物 周末瞎逛的时候发现一个多肉基地！ 在大棚里面的多肉！ 多到眼花缭乱！ 品种非常齐全，价位也是覆盖高中低档。 从5元到五千的都有～ 店主也非常nice，会详细的介绍如何养殖 👈城市：北京 👈地点：蟹岛度假村（近首都机场） 👈价位：丰俭由人</string>
		<key>w</key>
		<integer>535</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/5745120ad8601e2679c7d86a.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>phoebeloveyou</string>
		<key>h</key>
		<integer>530</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/46e15603-3729-48b1-9aa1-5b62e008de7d@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>#我要上精选# #六一儿童节# 最近实在是太忙了拖到现在才发笔记～这个是我收到的六一儿童节礼物，一个来自直男的礼物[笑哭R] 小埋是个动漫人物，特别宅，最喜欢吃薯片喝可乐打游戏，真的太像我了所以老公就送给我了[吧唧R]虽然不太懂这些，但是小埋也真的很可爱哦～ 希望大家每天都可以开心快乐！都是元气少女！[赞R] @薯队长薯队长六月啦求让我上精选吧[飞吻R]</string>
		<key>w</key>
		<integer>530</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img.xiaohongshu.com/avatar/56e0df47d8601e4159e8298b.jpg@120w_120h_92q_1e_1c_1x.jpg?wm=160&amp;hm=160&amp;q=92</string>
		<key>name</key>
		<string>默默caroline</string>
		<key>h</key>
		<integer>400</integer>
		<key>img</key>
		<string>http://ci.xiaohongshu.com/7753e616-5367-4433-82a6-3f514447cc9e@r_1280w_1280h.jpg</string>
		<key>des</key>
		<string>眼皮浮肿的应急tip！ 昨晚没睡好，一早起来眼皮肿了，赶紧拿出一整片尤妮佳1/2化妆棉，对折倒上城野医生三合一收敛水，然后，躺倒！直接敷在眼睛上，凉凉的，不刺激，冷却镇静下肿胀的眼皮，五到十分钟就可以，水还没干的话可以用一半把整脸擦一遍，刚好擦掉分泌一夜的油脂，另一半贴在鼻子上，再赖床五分钟，用来收敛下鼻头的毛孔，一点不浪费，好，起床！</string>
		<key>w</key>
		<integer>530</integer>
	</dict>
</array>
</plist>
